node_modules
npm-debug.log
.env
.env.local
.env.development
.env.test
.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
src/**/*.test.js
src/**/*.test.tsx
.vscode
.DS_Store
logs
*.log
public/mockServiceWorker.js
